{% extends "AMBackofficeBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Mes informations{% endblock %}


{#   MENU    #}
{% block body %}

    {{ include("AMBackofficeBundle:Backoffice:menu2.html.twig") }}

{#  CONTENT  #}
<div class="container-fluid">
    <div class="row" style="margin-top: 80px;">
        <div class="col-12 col-md-3 col-lg-2 col-xl-3 bd-sidebar">
            {{ include("AMBackofficeBundle:Backoffice:navBar.html.twig") }}
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-9 bd-content" role="main">
            <div class="container-fluid">
                <div class="row" style="margin-top: 80px;">
                    <div class="col-1 col-md-1 col-lg-1 col-xl-1 bd-sidebar">
                    </div>
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10 bd-content" role="main">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Mes informations :</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-9 col-md-9 col-lg-9 col-xl-9">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                {%  for user in users %}
                                                    Nom : {{ user.name }}<br>
                                                    Prénom : {{ user.firstname }}<br>
                                                    Email : {{ user.email }}<br>
                                                    Inscrit depuis le : {{ user.registerDate|date('Y-m-d H:i:s') }}<br>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 col-md-3 col-lg-3 col-xl-3">
                                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                                data-target="#modifier_mesinfosDiv" aria-expanded="false" >Modifier
                                        </button>
                                    </div>
                                </div>
                                <div class="collapse" class="collapse" id="modifier_mesinfosDiv" aria-expanded="true" style="">
                                    <div class="row">
                                        <div class="col-9 col-md-9 col-lg-9 col-xl-9">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                </div>
                                                <div class="panel-body">
                                                    {%  for user in users %}
                                                    <form action="{{ path('am_backoffice_changeusers', { 'id': user.id }) }}" method="POST">
                                                        <div class="form-group ">
                                                            <label for="nom">Nom * : </label>
                                                            <input type="text" id="nom" name="nom" required maxlength="35"
                                                                   placeholder="Nom" value="{{ user.name }}" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="prenom">Prénom * : </label>
                                                            <input type="text" id="prenom" name="prenom" required maxlength="35"
                                                                   placeholder="Prénom" value="{{ user.firstname }}" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="email">Email * : </label>
                                                            <input type="text" id="email" name="email" required placeholder="Email"
                                                                   maxlength="255" value="{{ user.email }}" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <button id="modifier_mesInfos" class="btn btn-danger" type="submit"
                                                                    value="{{ user.id }}">Confirmer
                                                            </button>
                                                        </div>
                                                    </form>
                                                    {% endfor %}
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-3 col-md-3 col-lg-3 col-xl-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                    <div class="col-1 col-md-1 col-lg-1 col-xl-1 bd-content" role="main">
                    </div>
                </div>
            </div>
        </div>
        {#<div class="col-1 col-md-1 col-lg-1 col-xl-1 bd-content" role="main">#}
        {#</div>#}
    </div>
</div>


{% endblock %}
