{% extends "AMBackofficeBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Messagerie {% endblock %}


{#   MENU    #}
{% block body %}

    {{ include("AMBackofficeBundle:Backoffice:menu2.html.twig") }}

{#  CONTENT  #}
<div class="container-fluid">
    <div class="row" style="margin-top: 80px;">
        <div class="col-12 col-md-3 col-lg-2 col-xl-3 bd-sidebar">
            {{ include("AMBackofficeBundle:Backoffice:navBar.html.twig") }}
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-9 bd-content" role="main">
            <div class="container-fluid">
                <div class="row" style="margin-top: 80px;">
                    <div class="col-1 col-md-1 col-lg-1 col-xl-1 bd-sidebar">
                    </div>
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10 bd-content" role="main">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Derniers courriers :</strong>
                            </div>
                                <div class="panel-body">

                                    {% for email in emails %}
                                        <div class="row">

                                            <div class="col-9 col-md-9 col-lg-9 col-xl-9">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        Le {{ email.emailDate|date('Y-m-d H:i:s') }} :
                                                    </div>
                                                    <div class="panel-body">
                                                        <strong>Nom : {{ email.firstname ~ " " ~ email.name }}</strong><br>
                                                        Email : {{ email.email }}<br>
                                                        Message : {{ email.message }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 col-md-3 col-lg-3 col-xl-3">
                                                <button class="btn btn-danger" type="button" data-toggle="collapse"
                                                        data-target="#demo{{ email.id_messagerie }}"
                                                        aria-expanded="false">Supprimer
                                                </button><br><br>
                                                <button class="btn btn-primary" type="button" >Répondre</button><br><br>
                                                <div id="demo{{ email.id_messagerie }}" class="collapse"
                                                aria-expanded="true" style="">
                                                    <form action="{{ path('am_backoffice_removemail', { 'id': email.id_messagerie }) }}"
                                                          method="POST">
                                                        <input type="text" id="id_messagerie" name="id_messagerie" style="display: none ;"
                                                               value="{{ email.id_messagerie }}">
                                                    Confirmer suppression ?
                                                    <button id="delete_mail" class="btn btn-danger" type="submit"
                                                            value="{{ email.id_messagerie }}">Supprimer
                                                    </button>
                                                    <button class="btn btn-primary" type="button" >Annuler</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                        </div>
                    </div>

                </div>
                <div class="col-1 col-md-1 col-lg-1 col-xl-1 bd-content" role="main">
                </div>
            </div>
        </div>
    </div>
    {#<div class="col-12 col-md-2 col-lg-2 col-xl-1 bd-content" role="main">#}
    {#</div>#}
</div>
    </div>


{% endblock %}