{% extends "AMBackofficeBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Inscription en attente {% endblock %}


{#   MENU    #}
{% block body %}

    {{ include("AMBackofficeBundle:Backoffice:menu2.html.twig") }}

{#  CONTENT  #}
<div class="container-fluid">
    <div class="row" style="margin-top: 80px;">
        <div class="col-12 col-md-3 col-lg-2 col-xl-3 bd-sidebar">
            {{ include("AMBackofficeBundle:Backoffice:navBar.html.twig") }}
        </div>
        <div class="col-12 col-md-7 col-lg-8 col-xl-8 bd-content" role="main">
            <div class="container-fluid">
                <div class="row" style="margin-top: 80px;">
                    <div class="col-2 col-md-2 col-lg-2 col-xl-2 bd-sidebar">
                    </div>
                    <div class="col-8 col-md-8 col-lg-8 col-xl-8 bd-content" role="main">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Inscription en attente :</strong>
                            </div>
                            <div class="panel-body">

                                {% for usertemp in userstemp %}
                                    <div class="row">
                                        <div class="col-9 col-md-9 col-lg-9 col-xl-9">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    Le {{ usertemp.registerDate|date('Y-m-d H:i:s') }} :
                                                </div>
                                                <div class="panel-body">
                                                    <strong>Nom : {{ usertemp.firstname ~ " " ~ usertemp.name }} </strong><br>
                                                    Email : {{ usertemp.email }}<br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 col-md-3 col-lg-3 col-xl-3">
                                            <form action="{{ path('am_backoffice_removeusertemp', { 'id': usertemp.id }) }}" method="POST">
                                                <button class="btn btn-danger delete_userTemp" id="delete_userTemp"
                                                        value="{{ usertemp.id }}" type="submit" >Supprimer
                                                </button>
                                            </form>

                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-2 col-md-2 col-lg-2 col-xl-2 bd-content" role="main">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-2 col-lg-2 col-xl-1 bd-content" role="main">
    </div>
</div>
    </div>


{% endblock %}